/*---------------------------------TAG STYLES--------------------------------*/
body {
  background-color: #f8b195;
}

div {
  margin: auto;
  text-align: center;
  width: 100%
}

h1 {
  color: darkred;
  font-size: 1000%;
  margin: 0 0;
}

hr {
  border-width: 1vh;
  border-color: brown;
  border-style: dotted none none none;
  width: 3%;
}

img {
  margin: auto;
  padding: 1%;
}


p {
  color: brown;
  font-size: 600%;
  margin: 1.5vh 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end);
}
/*-------------------"type" animation keyframe-------------------------------*/
@keyframes type {
  from {
    width: 0;
  }
}

.baconCircular {
  margin: auto;
  padding: 0 0;
  width: 100%;
}

/*---------------------------------Blinking H1--------------------------------*/
.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: darkred;
  }

  49% {
    color: darkred;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: darkred;
  }
}

/*--------------------CSS FOR BLINKING BACKGROUND----------------------------*/
.goodBlink {
  width: 13%;
  -webkit-animation: goodBlink 1s infinite;
  /* Safari 4+ */
  -moz-animation: goodBlink 1s infinite;
  /* Fx 5+ */
  -o-animation: goodBlink 1s infinite;
  /* Opera 12+ */
  animation: goodBlink 1s infinite;
  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes goodBlink {
  0%, 49% {
    background-color: rgb(117, 209, 63);
    border: 3px solid #f8b195;
    border-radius: 50%;
  }

  50%, 100% {
    background-color: #f8b195;
    border: 3px solid rgb(117, 209, 63);
    border-radius: 50%;
  }
}

.badBlink {
  width: 13%;
  -webkit-animation: badBlink 1s infinite;
  /* Safari 4+ */
  -moz-animation: badBlink 1s infinite;
  /* Fx 5+ */
  -o-animation: badBlink 1s infinite;
  /* Opera 12+ */
  animation: badBlink 1s infinite;
  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes badBlink {
  0%, 49% {
    background-color: red;
    border: 3px solid #f8b195;
    border-radius: 50%;
  }

  50%, 100% {
    background-color: #f8b195;
    border: 3px solid red;
    border-radius: 50%;
  }
}
